---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h3 class="intro">Rejuntes de la vida después de los 40 (y de un poco antes también)</h3>
      <p class="wrapper">Abajo encontrarás las últimas seis cosas que escribí. Hay más textos en la sección Blog más arriba. También podés buscar por las etiquetas para ver los temas que puedan interesarte.
    </div>
  </div>
  {% include 'svg/divider-waves.svg' %}
</header>

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 6) %}

    <li class="card flow overflow-hidden">
      <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      {{post.data.tags}}
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article>
